<div class="middle-box text-center animated fadeInDown">
    <h1>500</h1>
    <h3 class="font-bold">Внутреняя ошибка сервера</h3><br/>

        <div class="error-desc">
            К сожалению что-то пошло не так.<br/> Мы уже знаем об ошибке и работаем над испралением.<br/><br/>            
            <a href="/cabinet" class="btn btn-primary">Вернуться в Личный кабинет</a><br/><br/>
            <!--<a ui-sref="login" class="btn btn-primary">Вернуться в Личный кабинет</a><br/><br/>-->					
            <!--<a ui-sref="/" class="btn btn-primary">Вернуться на Главную страницу</a>-->					
        </div>
</div>