<div class="row">
    <div class="col-sm-10">
        <fieldset>
            <h2>Телефоны (стационарные или мобильные)</h2>
            <p>Введите номера телефонов из расчета 100 кликов = 1 номер + 1 дополнительный<br>
                <small>(Формат номера может быть любым - таким как вы хотите чтобы он отображался на вашем сайте)</small></p>
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-9">
                        <div ng-repeat="item in phoneNumberList" class="m-b form-inline">
                            <input type="text" ng-model="item.number" ng-blur="onBlur($index, item)" class="form-control" placeholder="+7 (495) 000-00-00" style="width: 50%;">
                            <button ng-click="removePhoneNumber(item)" class="btn-default form-control"><i class="fa fa-trash"></i></button>
                            <!--================================= DEBUG ====================================-->
                            <span>Занят до:  {{item.freeDateTime}}</span>
                            <button class="btn btn-primary" type="submit" ng-click="freeNumber(item)">Освободить</button>
                            <!--================================= DEBUG ====================================-->
                        </div>
                        <button class="btn btn-gray" type="submit" ng-click="addPhoneNumber()">Добавить поле для номера</button>
                        <button class="btn btn-primary" type="submit" ng-click="savePhoneNumberList()">Сохранить&nbsp;&nbsp;</button>
                        <button class="btn btn-primary" type="submit" ng-click="restorePhoneNumberList()">Отмена&nbsp;&nbsp;</button>
                        <!--================================= DEBUG ====================================-->
                        <button class="btn btn-primary" type="submit" ng-click="freeAllNumbers()">Освободить все номера&nbsp;&nbsp;</button>
                        <!--================================= DEBUG ====================================-->
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="col-sm-2">
        <fieldset class="m-t-md">
            <a ui-sref="container.wizard.step_two" class="btn btn-primary pull-right">Далее</a>
        </fieldset>
    </div>
</div>


