<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Пополнение счета</h2>
        <div ncy-breadcrumb></div>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight ecommerce">

    <div class="ibox-content m-b-sm border-bottom">
        <div class="row">
            <div class="col-md-8">
                <form role="form" id="payment-form" name="paymentForm">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label>Сумма платежа</label>
                                <input type="text" class="form-control" name="nameCard" placeholder="0.0" ng-model="sum" ng-pattern="numberPattern"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <button class="btn btn-primary" type="submit" ng-click="redirectConfirm()" ng-disabled="paymentForm.$invalid">Оплатить</button>
                            &nbsp;<small>(Вы будете перенаправлены на сайт Яндекс.кассы для осуществления платежа)</small>
                        </div>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>

