<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Смена тарифа</h2>
        <div ncy-breadcrumb></div>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper animated fadeInRight">
    <div class="row">
        <div class="col-lg-7">
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-12">
                        <div ng-repeat="item in userTariff" class="m-b form-inline">
                            <div class="m-b form-inline">
                                <h2 style="clear: both; float: left; width: 38%; text-align: left; "><b>Тариф</b></h2>
                                <h2 style="float: left; width: 25%; text-align: left; "><b>{{ item.tariffName }}</b></h2>
                            </div>
                            <div class="m-b form-inline">
                                <span style="clear: both; float: left; width: 38%; text-align: left; font-size: 16px;">Количество телефонных номеров</span>
                                <span style="float: left; width: 25%; text-align: left; font-size: 16px;">{{ item.maxPhoneNumber }}</span>
                            </div>
                            <div class="m-b form-inline">
                                <span style="clear: both; float: left; width: 38%; text-align: left; font-size: 16px;">Стоимость в месяц</span>
                                <span style="float: left; width: 25%; text-align: left; font-size: 16px;">{{ item.rate }} рублей</span>
                            </div>
                            <div class="m-b form-inline">
                                <span style="clear: both; float: left; width: 38%; text-align: left;  font-size: 16px;">Дата перехода на тариф</span>
                                <span style="float: left; width: 25%; text-align: left; font-size: 16px;">{{ item.setDate }}</span>
                            </div>
                            </hr>
                            <div class="m-b form-inline">
                                <div style="clear: both; float: left; width: 38%; padding-top: 50px">
                                    <span style="text-align: left; font-size: 16px" >Сменить тариф</span></br>
                                    <span style="font-size: 10px">Списания по новому тарифу</br> начнут осуществляться после 00:00</span>
                                </div>
                                <div style="float: left; width: 25%; padding-top: 50px">
                                    <select id="selected_user_tariff" data-ng-model="selectedTariff">
                                        <option ng-repeat="item in tariffList" value="{{ item.tariff_id }} " >{{ item.tariff_name }} ({{ item.max_phone_number }} номеров, {{ item.rate }} руб.)</option>
                                    </select>
                                </div>
                                <div style="float: left; width: 15%; padding-top: 50px">
                                    <button class="btn btn-primary" type="submit" mw-confirm-click="saveUserTariff()" mw-confirm-click-message="Будет произведена смена тарифа на">Сохранить</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>