<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Настройки</h2>
        <div ncy-breadcrumb></div>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper animated fadeInRight">
    <div class="row">
        <div class="col-lg-10">
            <div class="ibox float-e-margins">
                <!--<div class="ibox-title">-->
                <!--</div>-->
                <form name="mainsettingsForm">
                    <div class="ibox-content">
                        <div class="row" ng-repeat="settingsItem in settings">
                            <div class="col-sm-12" style="text-align: right; padding-top: 5px; padding-bottom: 5px;">
                                <div class="form-group"><label class="col-sm-4 control-label">{{settingsItem.visibleName}}</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="settingsItem.value">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top: 5px; padding-bottom: 5px;">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-10">
                                <button class="btn btn-sm  pull-right" type="submit" ng-disabled="mainsettingsForm.$invalid" ng-click="save()">Сохранить</button>
                            </div>
                            <div class="col-sm-1"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
