<div class="modal-header modal-header-app">
	<button type="button" class="close" data-dismiss="modal"
		aria-hidden="true" ng-click="cancel();">&times;</button>
	<h3>{{notification.header}}</h3>
</div>

<div class="modal-body" style="max-height: 100px;">
      <div class="modal-body">
        <p>{{notification.message}}</p>
      </div>
</div>

<div class="modal-footer">
	<button class="btn btn-default nriv-btn" data-dismiss="modal"
		aria-hidden="true" ng-click="ok();">OK</button>
</div>
